<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

	<connectionStrings>
		<add name="yug1ConnectionString" connectionString="Data Source=Yug-Kunjadiya\SQLEXPRESS;Initial Catalog=yug1;Integrated Security=True;TrustServerCertificate=True"
		  providerName="System.Data.SqlClient" />
		<add name="FacultyDBConnectionString"
		  connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FacultyDB;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>

</configuration>